<!DOCTYPE html>
<html>
  <head>
    <title>HYDROPONICS</title>
    <link rel="stylesheet" type="text/css" href="Hydrophonics.css">  
  </head>
  <style>
    body{
    background-color: #c5d5cb, #9fa8a3, #e3e0cf;
}
h1{
    margin: 1px;
    padding: 10px;
    font-size: xx-large;
    text-align: center;
    background-color: #d39c2e;
    font-weight: bold;
   
 }
 p{
   font-size: medium;
 }
 
 img{
   align-items: center;
   padding: 10px;
 }
     
      


  </style>

<div class="navbar">
         
  <ul>
     <li><a href="{{url_for('home')}}" >Home</a></li>
     <li><a href="{{url_for('aeroponics')}}" id="active">Aeroponics</a></li>
     <li><a href="{{url_for('hydroponics')}}">Hydrophonic</a></li>
     <li><a href="about.asp">About</a></li>
     <li></li>
  </ul>
  
</div>

    <h1> <b> What is a Hydroponic System?</b></h1><br><br>
    <p>New technologies are coming up every day in the world. As the world population is growing, the agriculture industry is 
also developing new techniques to grow food in lesser space and by saving water. The hydroponic growing system is a step 
towards this.<br><br>


Hydroponic System is a system of growing crops without soil, often called soilless farming. In the hydroponic system, the
 plant roots grow in a liquid nutrient solution or inside the moist inert materials like Rockwool and Vermiculite. The 
 liquid nutrient solution is a mixture of essential plant nutrients in the water.


The plant roots are suspended either in the static liquid solution or in a continuously flowing nutrient mixture. The
 hydroponic growing system requires continuous attention to the crops, unlike the traditional farming system.</p>

<br><br>

 <img src ="C:\Users\abc\Desktop\Mini_Project\th.jpg" align="center" width="1100" height="400px"><br><br>

<h1><b><u>Advantages of a hydroponic system</u></b></h1>br><br>
<p>Higher productivity than the traditional farming system, the plant nutrients are effectively used, and there is no wastage.

The hydroponic system is a controlled climate system in which the crops can grow year-round.

Water utilization is low when compared to the traditional farming method, up to 80-90 percent lower.

The crops are grown in a closed space, which eliminates the attack of pests and insects.</p><br><br>

<h1><b>Types of hydroponic system</b><br></h1>
The growing methods for each type of crop can be different so as the hydroponic system. When you are choosing between the
 various hydroponic systems, knowing about the basics of that system will help you in making the decision.</p>

 




<h3><b>1.Standing Aerated Nutrient Solution:</b></h3><br><br>
<p>
This system is commonly known as DWC (deep water culture) system. Standing aerated nutrient solution is a hydroponic 
system in which the nutrient solution is static, suspending the plant roots in the nutrient solution. Replacement of 
nutrient solution is required every 5 to 10 days (frequency depends on the number of plants and system volume).


A crop like lettuce can be successfully grown in this system on Styrofoam sheets floating on an aerated nutrient solution.</p>
<br><br>



<h3><b>2.Nutrient Film Technique (NFT):</b></h3><br><br>

<p>Nutrient Film Technique, gully channels are used in this system to grow plants, the nutrient solution keeps flowing in
 these gully channels. A pump connected to the reservoir pumps the nutrient solution to the NFT channels.

One of the advantages of the NFT is the easy installation of the system and the relatively low cost of the materials.</p>

 

<br><br><h1>There are two different types of NFT system:</h1><br><br>

<i>Horizontal NFT System</i>

<i>Vertical NFT System</i>

<p>The outer structure of the hydroponic farm provides a protected environment for the crops. There are two types of outer 
structure mainly, one is polyhouse type, and the other is the greenhouse type. Both the structure has distinct advantages.</p>


<br><br><h1><b>Growing System:</b></h1><br><br>

<p>The growing system depends on the type of plant you want to grow in your hydroponic farm. If you are planning to crops
 like lettuce, kale, the NFT system will be suitable, and if you need to grow vegetable crops like tomato and cucumber,
  the Dutch bucket system will be fit.</p>

 

<br><br><i>Temperature and Irrigation Controlling System:</i><br><br>


<p>The temperature controlling system will maintain an optimum temperature for the growth of crops. The irrigation system will irrigate or pumps the nutrient solution to the growing system and continuously monitors the moisture.
The estimated cost of setting up a hydroponic farm in India in one-acre will come between Rs. 1.45 Cr to Rs. 1.80 Cr. It is an estimated cost and can vary according to your specific choice of equipment.
A hydroponic farm of one-acre can produce around 90,000 to 95,000 lettuce plants, that will ensure high profitability. For more detailed information on Return on Investment (RoI), you may contact our customer support.

Plants grow through a process called photosynthesis, in which they
 use sunlight and a chemical inside their leaves called chlorophyll to 
 convert carbon dioxide (a gas in the air) and water into glucose (a type 
of sugar) and oxygen. Write that out chemically and you get this equation:<br>
<br>

          6CO2 + 6H2O → C6H12O6 + 6O2<br><br>

There's no mention of "soil" anywhere in there—and that's all the proof you
need that plants can grow without it. What they do need is water and 
nutrients, both easily obtained from soil. But if they can get these things 
somewhere else—say, by standing with their roots in a nutrient-rich 
solution—they can do without soil altogether. That's the basic principle 
 behind hydroponics. In theory, the word "hydroponics" means growing plants
  in water (from two Greek words meaning "water" and "toil"), but because 
  you can grow plants without actually standing them in water, most people 
  define the word to mean growing plants without using soil.
    </p><br><br>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/V0BrgBF9IQM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  
        
    
</html>