body{
    background-color: lightseagreen;
}
h1{
    margin: 0px;
    padding: 50px;
    font-size: xx-large;
    text-align: center;
    background-color: aquamarine;
    font-weight: bold;
   
 }
      
     
      
